<mat-toolbar color="primary">
  
    <mat-toolbar-row>
      <span>D-Tube Clone</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card>
    <input type="file" name="file" accept="image/*"  id="file" style="display: none" (change)="captureFile($event)">
    <button mat-raised-button color="accent" (click)="triggerFileUpload()">Select File</button>
    <hr>
    <div  *ngIf="loading"><mat-spinner></mat-spinner></div>
    
    {{ipfsId}}
  </mat-card>